body *{
  font-family: 'Roboto', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2{
  color:#EC1A3D;
  font-size: 30px;
  font-weight: bold;
}

h3{
  margin-top:22px;
}

p{
  margin-top:20px;
  font-size: 20px;
}

li{
  text-decoration: none;
  margin: auto;
  border-bottom: 2px solid #EAEAEA;
  width: 100%;
  text-align: left;
  padding: 15px;
  cursor: pointer;
  color: #BABABA;
}

li:hover{
  color:black;
  border-bottom: 2px solid black;
}

.wrapper{
  background-color: #EFEFEF;
}

.center{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.center-red{
  text-align:center;
  color:#EC1A3D;
  font-weight: bold;
}

.org{
  background-color:#f2f2f2 !important;
}

.bd-b{
  border-bottom:2px solid #EC1A3D;
}

.bd-t{
  padding-top:20px;
  border-top:2px solid #EC1A3D;
}

.btn-estimate{
  position: absolute;
  padding: 20px 20px;
  background-size: contain;
  cursor: pointer;
  z-index:99;
  right:29px;
  top: 76px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  background-color: white;
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/smrt.yoose.com/cross.svg");
}

.delete-button{
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/st.yoose.com/delete-btn_Singtel.png");
  border-radius:100%;
  padding:0px;
  margin-right:10px;
  border:none;
  width:18px;
  height:18px;
  background-repeat: none;
  background-size:cover;
  background-color:transparent;
}

.download-button {
    background: none repeat scroll 0 0 #ed1c24;
    border: medium none;
    font-size: 34px;
    font-weight: bold;
    color: #FFFFFF;
    width: 100% !important;
    z-index: 99;
    bottom: 76px;
    position: relative;
    padding: 14px 42px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.container{
  padding: 0px;
}
.right{
  box-shadow: 0 10px 80px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
}

.logo{
  width:190px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.background-header{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/singtel.yoose.com/imgpsh_fullsize_anim.jpeg);
  background-repeat: no-repeat;
  background-size:contain;
  width:100vw;
  height:600px;
  position:absolute;
}

.checkbox_customize{
  width:14px;
  height:14px;
  margin-right:10px !important;
  margin-top:10px !important;
  display:inline-block;
  float:left;
}

fieldset{
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow:0 0 10px #999;
  margin-left:5px;
  margin-top:40px;
}

.step-title{
  position: relative;
  bottom: 20px;
  left: 12px;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  background-color: white;
  border-radius: 10px;
}

.br10{
  border-radius: 10px !important;
  box-shadow: 0 10px 80px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.22); 
}

.fleft{
  float: left;
  position: absolute;
}
.mb50{
  margin-bottom: 50px;
}

.mt40{
  margin-top:40px;
}

.h0{
  height: 0px;
}

.pb10{
  padding-bottom:10px;
}


/* Button */

.add-to-list-button{
  width: 100%;
  text-align: center;
  padding:20px 40px 20px 40px;
  font-size: 34px;
  font-weight: bold;
  color:white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-to-cart-button{
  font-size: 25px;
  font-weight: bold;
  padding: 14px 42px;
  border-radius:30px;
}

.btn-danger {
  border-color:#EC1A3D !important;
  background-color: #EC1A3D !important;
}


/* Analyse Box*/
.analyse-frame{
  height:1063px;
  background-color: white;
  position: relative;
  padding: 20px 25px 0px 25px;
}

.cart-frame{
  min-height: 500px;
  background-color: white;
  position: relative;
  padding: 20px 25px 0px 25px;
  padding-bottom: 96px;
  margin-bottom: 50px;
}

.analyse-body{
  height:810px;
  overflow-y:scroll;
}

.analyse-footer{
  text-align: center;
}

.analyse-history{
  height:650px;
  overflow-y:scroll;
}

.cart-column{
  padding-top:10px;
  padding-bottom: 10px;
  text-align:center;
  cursor: pointer;
  color:#7d7d7d;
  background-color: #e1e1e1;
}
.cart-column:hover{
  background-color: #ed1c24 !important;
  color:white;
}

/* Map */
.mapbox{
  border-radius: 4px;
  height: 657px;
  width: 100%;
  padding: 20px;
}

.map-frame{
  background-color:white;
  margin-bottom: 40px;
  position: relative
}

.map-radius{
  width:80%;
  margin:20px auto;
}

.loading-container{
  position: absolute;
  z-index:100;
  height:100%;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
}

.loading-content {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-content:before {
   content:"";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #EC1A3D;
  border-bottom-color: #EC1A3D;
  animation: spinner 1s ease infinite;
}

/* Slider */
.rc-slider-handle, .rc-slider-handle:hover, .rc-slider-handle:focus, .rc-slider-handle:active, .rc-slider-handle-click-focused{
  border: 0px !important;
  border-color:white;
}

.rc-slider-dot-active{
  border-color:#EC1A3D !important;
}

.rc-slider:nth-child(2){
  width:80%;
  margin: 20px auto;
}

.rc-slider-handle-1, .rc-slider-handle-2, .rc-slider-track{
  background-color: #EC1A3D !important;
}


/* input and search bar */
.input-group-addon{
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/st.yoose.com/Search_singtel.png");
  background-repeat:no-repeat;
    background-size:cover;
    border-radius: 100% !important;
    padding:24px 24px;
    margin-left:10px !important;
    cursor: pointer;
}

.input-group{
  top:16px;
}

.search-bar-box{
  height:70px;
  position: relative;
}

.search-bar{
  position: absolute;
  padding:0px 30px 25px 30px;
  background-color:white; 
  z-index:100;

}

.drop-list{
  width:100%;
  list-style:none;
  z-index:100;
  padding:0px;
}

.custom-input, .custom-input:focus, .custom-input:hover{
  border: 0px;
  width:97% !important;
  box-shadow:none;
  font-size: 26px;
  font-weight: 100;
  border-bottom: 1px solid #BABABA;
  border-radius:2px;
  color: black;
  box-sizing: border-box;

}

.custom-input:focus{
  border-bottom: 1px solid black;
}


/* screen */

@media (min-width: 1400px){
  .container {
      width: 1170px;
  }
}

/* spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
